<div class="main-content">
  <div class="section-content section-content-p30">

    <div *ngIf="searchMode == false">
      <h4>Category: {{ currentCategoryName }}</h4>
      <hr>
    </div>

    <div class="container-fluid">
      <div class="row">

        <div *ngIf="products?.length == 0" class="alert alert-warning col md-12" role="alert">
          No products found.
        </div>

        <!-- loop over the collection of products -->
        <div *ngFor="let product of products" class="col-md-3">

          <div class="product-box">

            <div>
              <a routerLink="/products/{{ product.id }}">
                <img src="{{ product.imageUrl }}" class="img-responsive">
              </a>
            </div>

            <a routerLink="/products/{{ product.id }}">
              <h1>{{ product.name }}</h1>
            </a>

            <div class="price">{{ product.unitPrice | currency: 'USD' }}</div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>

        </div>

      </div>

      <!-- footer -->
      <div class="footer-pagination">
        <div class="row">

          <div class="col-md-6"></div>

          <div class="col-md-6">
            <div class="row">

              <div class="col-md-9"style="padding-left: 30%">
                <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize" [collectionSize]="pageTotalElements"
                  (pageChange)="listProducts()" />
              </div>

              <div class="col-md-3" style="text-align: right">
                <span class="mr-2">Page Size  </span>

                <select #pageSelect (change)="updatePageSize(+pageSelect.value)">
                  <option *ngFor="let value of [5, 10, 20, 50]" [selected]="value == pageSize">
                    {{ value }}
                  </option>
                </select>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>